html{
    background: linear-gradient(to top, black 30%, darkblue) fixed;
}
#container {
    position: relative;
}


#ball {
    width: 20px;
    height: 20px;
    background-color:white;
    position: fixed;
    top: 20px;
    left: 52.5%;
    border-radius: 50%;
}

#rod1, #rod2 {
    width: 200px;
    height: 20px;
    position: fixed;
    left: 50%;
    border-radius: 25px;
    text-align: center;
    color: black;
    font-weight: bold;
}

#rod1 {
    background-color: white;
    top: 0px;
}

#rod2 {
    background-color: white;
    bottom: 0px;
}
